.layout {
  display: flex;
}

.main {
  flex: 1;
  padding: 20px;
  background: #f1f5f9;
  min-height: 100vh;
}
.card {
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}